<a href="https://colab.research.google.com/github/shshahul/Student_database_MongoDB/blob/main/Task2MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo
from pymongo import MongoClient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [ ]:
client = MongoClient("enter DB credentials")

In [ ]:
client.list_database_names()

['CRUD_task',
 'Task2_MongoDB',
 'Tweets_database',
 'marks',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'shahul_db',
 'admin',
 'local']

#methods of uploading JSON data
1)Mondo db Compass we can directly upload by creating the file 
2)Another method is by using python

In [ ]:
db = client['marks']
db.list_collection_names()

['students_data']

In [ ]:
my_col=db['students_data']

In [ ]:
from pprint import pprint
for i in my_col.find():
  print(i)

1.Find the student name who scored maximum scores in all (exam, quiz and homework)?

In [ ]:
#Find the student name who scored maximum scores in all (exam, quiz and homework)?
#stage 2 we need to submit (exam, quiz and homework) one by one
stage1={"$unwind":"$scores"}
stage2={"$match":{"scores.type":"homework"}}    
stage3={"$sort":{"scores.score":-1}}
stage4={"$limit":1}
stage5={"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
for i in my_col.aggregate([stage1,stage2,stage3,stage4,stage5]):
    pprint(i)

{'name': 'Whitley Fears',
 'scores': {'score': 99.77237745070993, 'type': 'homework'}}

2)Find students who scored below average in the exam and pass mark is 40%?

In [ ]:
stage1 = {"$unwind":"$scores"}
stage2={"$match":{"scores.type":"exam"}}
stage3 = {"$group": {"_id":"$scores.type", "avg_score":{"$avg":"$scores.score"}}}
for i in my_col.aggregate([stage1,stage2,stage3]):
    pprint(i)

{'_id': 'exam', 'avg_score': 48.67367075950175}

In [ ]:
stage1 = {"$unwind":"$scores"}
stage2 = {"$group": {"_id":"$scores.type", "avg_score":{"$avg":"$scores.score"}}}
for i in my_col.aggregate([stage1,stage2]):
    pprint(i)

{'_id': 'exam', 'avg_score': 48.67367075950175}
{'_id': 'homework', 'avg_score': 67.81869620661149}
{'_id': 'quiz', 'avg_score': 48.99672319430254}

a)Students scored below 40%.
#in the above cell I calculated the overall average score for ["quiz",'exam','homework']

In [ ]:
#Students scored below 40%
stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$lt":40},"scores.type":"exam"}}
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
for i in my_col.aggregate([stage1,stage2,stage3]):
  print(i)

{'name': 'aimee Zank', 'scores': {'score': 1.463179736705023, 'type': 'exam'}}
{'name': 'Jenette Flanders', 'scores': {'score': 37.32285459166097, 'type': 'exam'}}
{'name': 'Daphne Zheng', 'scores': {'score': 22.13583712862635, 'type': 'exam'}}
{'name': 'Alix Sherrill', 'scores': {'score': 25.15924151998215, 'type': 'exam'}}
{'name': 'Dodie Staller', 'scores': {'score': 7.772386442858281, 'type': 'exam'}}
{'name': 'Fletcher Mcconnell', 'scores': {'score': 39.41011069729274, 'type': 'exam'}}
{'name': 'Jonie Raby', 'scores': {'score': 19.17861192576963, 'type': 'exam'}}
{'name': 'Edgar Sarkis', 'scores': {'score': 8.606983261043888, 'type': 'exam'}}
{'name': 'Laureen Salomone', 'scores': {'score': 3.677565278992456, 'type': 'exam'}}
{'name': 'Kaila Deibler', 'scores': {'score': 15.89771199662455, 'type': 'exam'}}
{'name': 'Tandra Meadows', 'scores': {'score': 24.90138146001744, 'type': 'exam'}}
{'name': 'Carli Belvins', 'scores': {'score': 7.112266875518214, 'type': 'exam'}}
{'name': 'Synthia Labelle', 'scores': {'score': 27.22049103148209, 'type': 'exam'}}
{'name': 'Richelle Siemers', 'scores': {'score': 34.64373397163318, 'type': 'exam'}}
{'name': 'Mariette Batdorf', 'scores': {'score': 0.04381116979284005, 'type': 'exam'}}
{'name': 'Aleida Elsass', 'scores': {'score': 28.02518041693717, 'type': 'exam'}}
{'name': 'Ernestine Macfarland', 'scores': {'score': 15.29147856258362, 'type': 'exam'}}
{'name': 'Lady Lefevers', 'scores': {'score': 16.89237820123443, 'type': 'exam'}}
{'name': 'Barbera Lippman', 'scores': {'score': 35.43490750932609, 'type': 'exam'}}
{'name': 'Alica Pasley', 'scores': {'score': 19.38544736721771, 'type': 'exam'}}
{'name': 'Malisa Jeanes', 'scores': {'score': 33.44580005842922, 'type': 'exam'}}
{'name': 'Danika Loeffler', 'scores': {'score': 21.54531707142236, 'type': 'exam'}}
{'name': 'Joaquina Arbuckle', 'scores': {'score': 28.66671659815553, 'type': 'exam'}}
{'name': 'Dusti Lemmond', 'scores': {'score': 17.27725327681863, 'type': 'exam'}}
{'name': 'Rubie Winton', 'scores': {'score': 7.176062073558509, 'type': 'exam'}}
{'name': 'Kim Xu', 'scores': {'score': 19.96531774799065, 'type': 'exam'}}
{'name': 'Cody Strouth', 'scores': {'score': 4.784730508547719, 'type': 'exam'}}
{'name': 'Harriett Velarde', 'scores': {'score': 33.7733570443736, 'type': 'exam'}}
{'name': 'Leola Lundin', 'scores': {'score': 31.62936464207764, 'type': 'exam'}}
{'name': 'Len Treiber', 'scores': {'score': 21.21850173315791, 'type': 'exam'}}
{'name': 'Echo Pippins', 'scores': {'score': 27.77924608896123, 'type': 'exam'}}
{'name': 'Santiago Dollins', 'scores': {'score': 33.48242310776701, 'type': 'exam'}}
{'name': 'Tonisha Games', 'scores': {'score': 29.13833807032966, 'type': 'exam'}}
{'name': 'Brain Lachapelle', 'scores': {'score': 2.013473187690951, 'type': 'exam'}}
{'name': 'Toshiko Sabella', 'scores': {'score': 21.05570509531929, 'type': 'exam'}}
{'name': 'Ty Barbieri', 'scores': {'score': 38.43781607953586, 'type': 'exam'}}
{'name': 'Ta Sikorski', 'scores': {'score': 30.02140506101446, 'type': 'exam'}}
{'name': 'Lucinda Vanderburg', 'scores': {'score': 27.55843343656866, 'type': 'exam'}}
{'name': 'Darby Wass', 'scores': {'score': 6.867644836612586, 'type': 'exam'}}
{'name': 'Omar Bowdoin', 'scores': {'score': 8.58858127638702, 'type': 'exam'}}
{'name': 'Tania Hulett', 'scores': {'score': 21.84617015735916, 'type': 'exam'}}
{'name': 'Karry Petrarca', 'scores': {'score': 3.677125771067413, 'type': 'exam'}}
{'name': 'aimee Zank', 'scores': {'score': 15.91636686717778, 'type': 'exam'}}
{'name': 'Aurelia Menendez', 'scores': {'score': 5.105728872755167, 'type': 'exam'}}
{'name': 'Bao Ziglar', 'scores': {'score': 37.22753032391262, 'type': 'exam'}}
{'name': 'Jenette Flanders', 'scores': {'score': 22.0445143239363, 'type': 'exam'}}
{'name': 'Salena Olmos', 'scores': {'score': 0.8007809823509016, 'type': 'exam'}}
{'name': 'Sanda Ryba', 'scores': {'score': 10.62413290291121, 'type': 'exam'}}
{'name': 'Denisha Cast', 'scores': {'score': 2.723204808959712, 'type': 'exam'}}
{'name': 'Fletcher Mcconnell', 'scores': {'score': 24.98670635479149, 'type': 'exam'}}
{'name': 'Verdell Sowinski', 'scores': {'score': 20.1442549902647, 'type': 'exam'}}
{'name': 'Gisela Levin', 'scores': {'score': 15.88727528055548, 'type': 'exam'}}
{'name': 'Rosana Vales', 'scores': {'score': 15.73156258820246, 'type': 'exam'}}
{'name': 'Tamika Schildgen', 'scores': {'score': 4.433956226109692, 'type': 'exam'}}
{'name': 'Jesusa Rickenbacker', 'scores': {'score': 15.6237624645333, 'type': 'exam'}}
{'name': 'Rudolph Domingo', 'scores': {'score': 33.02956040417582, 'type': 'exam'}}
{'name': 'Jonie Raby', 'scores': {'score': 7.307863391324043, 'type': 'exam'}}
{'name': 'Kaila Deibler', 'scores': {'score': 20.85988856264308, 'type': 'exam'}}
{'name': 'Tandra Meadows', 'scores': {'score': 19.07796402740767, 'type': 'exam'}}
{'name': 'Gwen Honig', 'scores': {'score': 35.99646382910844, 'type': 'exam'}}
{'name': 'Sadie Jernigan', 'scores': {'score': 6.14281392478545, 'type': 'exam'}}
{'name': 'Synthia Labelle', 'scores': {'score': 11.06312649271668, 'type': 'exam'}}
{'name': 'Ernestine Macfarland', 'scores': {'score': 9.666623747888858, 'type': 'exam'}}
{'name': 'Kurtis Jiles', 'scores': {'score': 38.84932631249875, 'type': 'exam'}}
{'name': 'Barbera Lippman', 'scores': {'score': 10.1210778879972, 'type': 'exam'}}
{'name': 'Dinah Sauve', 'scores': {'score': 9.660849614328693, 'type': 'exam'}}
{'name': 'Elizabet Kleine', 'scores': {'score': 23.35599596646158, 'type': 'exam'}}
{'name': 'Joel Rueter', 'scores': {'score': 21.78981361637835, 'type': 'exam'}}
{'name': 'Joaquina Arbuckle', 'scores': {'score': 35.43562368815135, 'type': 'exam'}}
{'name': 'Grady Zemke', 'scores': {'score': 10.37320113489379, 'type': 'exam'}}
{'name': 'Rubie Winton', 'scores': {'score': 36.1767454709986, 'type': 'exam'}}
{'name': 'Whitley Fears', 'scores': {'score': 20.84454374176408, 'type': 'exam'}}
{'name': 'Kim Xu', 'scores': {'score': 29.1596029917098, 'type': 'exam'}}
{'name': 'Merissa Mann', 'scores': {'score': 0.7300279717432967, 'type': 'exam'}}
{'name': 'Cody Strouth', 'scores': {'score': 32.99854612126559, 'type': 'exam'}}
{'name': 'Leonida Lafond', 'scores': {'score': 8.125073097960179, 'type': 'exam'}}
{'name': 'Devorah Smartt', 'scores': {'score': 23.94616611315642, 'type': 'exam'}}
{'name': 'Len Treiber', 'scores': {'score': 39.19832917406515, 'type': 'exam'}}
{'name': 'Echo Pippins', 'scores': {'score': 18.09013691507853, 'type': 'exam'}}
{'name': 'Tonisha Games', 'scores': {'score': 38.51269589995049, 'type': 'exam'}}
{'name': 'Timothy Harrod', 'scores': {'score': 11.9075674046519, 'type': 'exam'}}

3)Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

In [ ]:
#I am considering below 40 marks as faile and i am adding new column ["Exam_result"] and assigned them as fail
stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$lt":40}}}  
stage4 = {"$addFields":{'Exam_Result':'Fail'}}
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}

for i in my_col.aggregate([stage1,stage2,stage3,stage4]):

    pprint(i)

In [ ]:
# I am considering above 40 marks as faile and i am adding new column ["Exam_result"] and assigned them as pass
stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$gte":40}}}  
stage4 = {"$addFields":{'Exam_Result':'Pass'}}
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
for i in my_col.aggregate([stage1,stage2,stage3,stage4]):

    pprint(i)

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

In [ ]:
#finding the average of the exam, quiz and homework and store them in a separate collection.
Average =[]
stage1 = {"$unwind":"$scores"}
stage2 = {"$group": {"_id":"$scores.type", "avg_score":{"$avg":"$scores.score"}}}
for i in my_col.aggregate([stage1,stage2]):
  Average.append(i)
print(Average)

[{'_id': 'quiz', 'avg_score': 48.99672319430254}, {'_id': 'homework', 'avg_score': 67.81869620661149}, {'_id': 'exam', 'avg_score': 48.67367075950175}]

In [ ]:
Avg_3scores_col = db.Total_AVG_Score_col
Avg_3scores_col.insert_many(Average)

In [ ]:
##finding  total score of the exam, quiz and homework and store them in a separate collection.

Total_score =[]
stage1 = {"$unwind":"$scores"}
stage2 = {"$group": {"_id":"$scores.type", "total_score":{"$sum":"$scores.score"}}}
for i in my_col.aggregate([stage1,stage2]):
  Total_score.append(i)
print(Total_score)

[{'_id': 'quiz', 'total_score': 9799.344638860508}, {'_id': 'exam', 'total_score': 9734.734151900351}, {'_id': 'homework', 'total_score': 13563.739241322297}]

In [ ]:
#Updating in the separate collection
total_score_col = db.Total_Scores_collection
total_score_col.insert_many(Total_score)

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

In [ ]:
data = []

stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$gte":40,"$lt":48}}}  
stage4 = {"$addFields":{'Exam_Result':'Pass'}}
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
for i in my_col.aggregate([stage1,stage2,stage3,stage4]):
  data.append(i)
print(data)

In [ ]:
#creating new collection and inserting this collected data
db = client['marks']
avg_col = db.avg_student_col_marks
avg_col.insert_many(data)

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

In [ ]:
Fail_Marks = []

#I am considering below 40 marks as faile and i am adding new column ["Exam_result"] and assigned them as fail
stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$lt":40}}}  
stage4 = {"$addFields":{'Exam_Result':'Fail'}}
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}

for i in my_col.aggregate([stage1,stage2,stage3,stage4]):
  #pprint(i)
  Fail_Marks.append(i)
  print(Fail_Marks)

In [ ]:
fail_mark_col = db.Fail_students_catogery_col
fail_mark_col.insert_many(Fail_Marks)

In [ ]:
#To check the data inserted or not 
fail_mark_col.find_one()

{'_id': ObjectId('63d51e99e732936a798294bc'),
 'name': 'aimee Zank',
 'scores': {'score': 1.463179736705023, 'type': 'exam'},
 'Exam_Result': 'Fail'}

7)      Create a new collection which consists of students who scored above pass mark in all the categories.

In [ ]:
Pass_Students = []

stage1 = {"$unwind":"$scores"}
stage2 = {"$match":{"scores.score":{"$gte":40}}}  
stage3 = {"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
stage4 = {"$addFields":{'Exam_Result':'Pass'}}
for i in my_col.aggregate([stage1,stage2,stage3,stage4]):
  # pprint(i)

  Pass_Students.append(i)
print(Pass_Students)

In [ ]:
#Updating in separate collection
Pass_Students_col = db.Pass_Students_collection

Pass_Students_col.insert_many(Pass_Students)

In [ ]:
Pass_Students_col.find_one()

{'_id': ObjectId('63d5215ae732936a79829580'),
 'name': 'Aurelia Menendez',
 'scores': {'score': 60.06045071030959, 'type': 'exam'},
 'Exam_Result': 'Pass'}